.modMsg {
    width: 100%;
    margin-top: 5px;
}

.userContainer {
    display: flex;
    margin-bottom: 1px;
}

.msgImg {
    width: 21px;
    height: 21px;
    margin: auto;
    margin-left: 15px;
    margin-right: 0px;
    border-radius: 50%;
}

.modUsername{
    color: white;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    margin-left: 6px;
    margin-top: 5px;
    margin-bottom: 4px;
    text-shadow: 2px 2px 3px #000000;
}

.twitchChatUsername {
    font-weight: bold;
    color: white;
    display: block;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 2px;
    text-align: left;
    margin-left: 10px;
    text-shadow: 2px 2px 3px #000000;
}

.msgText {
    color: white;
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    word-wrap: break-word;
    text-align: left;
    box-shadow: 1px 2px 5px rgb(0, 0, 0);
}

.twitchMsgText {
    color: white;
    margin: 5px;
    width: 294px;
    padding: 5px;
    padding-left: 8px;
    font-size: 14px;
    border-radius: 5px;
    display: inline-block;
    word-wrap: break-word;
    text-align: left;
    box-shadow: 3px 3px 8px black;
    background-color:rgb(39, 39, 39);
    border: dashed rgb(153, 153, 153) 1px;
}

.embeddedMsg {
    background-color: #05A1E5;
    /* padding: 4px 4px 4px 4px; */
    margin: auto;
    border-radius: 6px;
    display: inline-block;
    margin-left: 10px;
    box-shadow: 3px 3px 8px black;
}

.serverMsgContainer {
    margin-left: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: .8fr 2fr .8fr;
}

.horzLine {
    height: 3px;
    width: 100%;
    border-top: solid rgb(199, 198, 198) 1px;
    margin: auto;
    margin-top: 12px;
    user-select: none;
}

.serverText {
    color: rgb(199, 198, 198);
    display: block;
    font-size: 11px;
    font-weight: bold;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 4px;
    text-align: left;
    text-shadow: 2px 2px 3px #000000;
    text-align: center;
    user-select: none;
}