.navContainer {
    width: 100%;
    height: 10vh;
    min-height: 100px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.logoContainer {
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    position: relative;
}

.logoSubContainer {
    display: inline;
    position: absolute;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 32%;
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: -5px;
}

.logoText {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    color: white;
    margin: auto;
}

.logoText:hover {
    color: #05A1E5;
}

.logo {
    width: 45px;
    margin: auto;
    margin-bottom: 5px;
}

.textContainer {
    width: 140px;
    margin-top: 8px;
}

.navOptionsContainer {
    width: 70%;
    margin: auto;
    height: 30%;
    grid-column-start: 2;
    grid-column-end: 3;
}

.optionsList {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    margin: auto;
    height: 100%;
}

.optionContainer {
    margin: auto;
}

.optionText {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    margin: auto;
    cursor: pointer;
    user-select: none;
    color: white;
}

.optionText:hover {
    color: #05A1E5;
}

.loginButtonContainer {
    width: 80%;
    height: 40%;
    margin: auto;
    grid-column-start: 3;
    grid-column-end: 4;
}

.loginButton {
    margin: auto;
    padding: none;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 400;
    background-color: #05A1E5;
    position: relative;
    color: black;
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.905);
    cursor: pointer;
    user-select: none;
}

.loginButton:hover {
    background-color: #4ac7fd;
}

.active {
    width: 40px;
    height: 5px;
    background-color: #05A1E5;
    margin: auto;
    border-radius: 6px;
    box-shadow: 1px 1px 4px rgb(0, 0, 0);
}