.chatModules {
	display: flex;
	grid-row-start: 2;
	grid-row-end: 3;
}

.module {
	width: 100%;
	color: white;
	z-index: 3;
}

.buttonSlot {
	margin: 5px;
	display: inline-grid;
	margin-top: 0px;
}

.navButton {
	height: 44px;
	width: 44px;
	user-select: none;
	cursor: pointer;
	background-color: #05A1E5;
	border: none;
	color: black;
	font-weight: bold;
	border-radius: 6px;
	box-shadow: 1px 1px 4px black;
} 

.modIcon {
	width: 28px;
	margin: auto;
}

#addButton {
	font-size: 23px;
}