.mainContainer {
	height: 98%;
    width: 700px;
    overflow: hidden;
    max-width: 700px;
    min-width: 700px;
    margin: 10px 6px 6px 12px;
    position: relative;
    background-color: #525153;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.754);
}

.headerContainer {
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid rgb(199, 198, 198);
    user-select: none;
    margin-bottom: 8px;
}

.logHeader {
    margin: 3px;
    color: white;
    margin-left: 12px;
}

.logContainer {

}