.application {
	width: 100%;
	height: 100vh;
	background-color:#222222;
	margin: 0px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	display: grid;
	grid-template-columns: 120px calc(100vw - 120px);
}

.star {
  width: 10px;
  height: 10px;
  position: absolute;
  font-size: 30px;
  color: white;
  z-index: -1;
  user-select: none;
}
    
@for $i from 1 through 15{
  .star:nth-child(#{$i}){
	position: absolute;
    bottom: random(100) + vh;
    left: random(100) + vw;
    opacity: random() + .3;
	font-size: random(20) + 8 + px;
	transform: rotateZ(random(360) + deg);
  }
} 

.navbar {
	width: 120px;
	min-width: 120px;
	height: 100%;
	// overflow: hidden;
	background-color:#6D6C6D;
	position: fixed;
}



.modListContainer {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "mod" "mod" "mod" "mod" "mod" "mod";
	position: absolute;
	bottom: 15px;
}

.currentChannel {
	grid-area: "mod";
	margin-left: 8px;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	box-shadow: 1px 1px 4px black;
	user-select: none;
}

.profileImageContainer {
	height: 48px;
	margin: auto;
	width: 100%;
	display: flex;
	margin: auto;
	overflow: hidden;
	user-select: none;
}

.channelImage {
	grid-area: "mod";
	margin-left: 5px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	filter: grayscale(100%);
	box-shadow: 1px 1px 4px black;
}

.channelAccessName {
	width: 65px;
	color: white;
	font-size: 12px;
	text-align: left;
	margin-left: 7px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.navSpacer {
	width: 100%;
	height: 70px;
}

.buttonContainer {
	width: 100%;
	height: 42px;
	margin-left: 0px;
	background:#606060;
	border-radius: 0px 4px 4px 0px;
}

.navText {
	padding: 11px;
	float: right;
	color: white;
	font-family: 'Roboto';
	font-weight: 300;
	user-select: none;
}