.application {
	width: 100%;
	height: 100vh;
	background-color:#2C2E33;
	margin: 0px;
	position: absolute;
	overflow: hidden;
}

.module {
	width: 100%;
	color: white;
}

.navbar {
	width: 80px;
	min-width: 80px;
	height: 100%;
	overflow: hidden;
	background-color:#6D6C6D;
	position: fixed;
}

.buttonContainer {
	width: 80px;
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 15px;
}

.buttonSlot {
	height: 56px;
	margin: auto;
}

.navButton {
	margin: 6px;
	margin-top: 0px;
	height: 48px;
	width: 48px;
	user-select: none;
	cursor: pointer;
	background-color: #05A1E5;
	border: none;
	color: black;
	font-weight: bold;
	border-radius: 6px;
	margin: auto;
} 

.modIcon {
	width: 33px;
	margin: auto;
}

#addButton {
	font-size: 23px;
}

.chatModules {
	margin-left: 80px;
	display: flex;
}

.modListContainer {
	width: 80px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "mod" "mod" "mod" "mod" "mod" "mod";
	position: absolute;
	bottom: 15px;
}

.currentChannel {
	grid-area: "mod";
	margin: 0px;
	margin: auto;
	width: 42px;
	border-radius: 50%;
	box-shadow: -1px 1px 4px black;
}

.channelImage {
	grid-area: "mod";
	margin: 0px;
	margin: auto;
	width: 40px;
	border-radius: 50%;
	filter: grayscale(100%);
	box-shadow: -1px 1px 4px black;
}

.profileImageContainer {
	height: 48px;
	margin: auto;
}