.homeBackground {
    background-color: #222222;
}

.homePageContainer {
    width: 100%;
    max-width: 1800px;
    background-color: #222222;
    margin: auto;
}

.policyLink {
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.policyLink:hover {
    color: rgb(125, 180, 240);
}