.dropdownContainer {
    width: 150px;
    height: 34px;
    margin-top: 5px;
}

.dropdownButton {
    width: 150px;
    height: 34px;
    background-color: #05A1E5;
    border-radius: 6px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    font-family: 'Roboto';
    border: none;
    box-shadow: 1px 1px 4px black;
}

.formContainer {
    background-color: #dddddd;
    border-radius: 0px 0px 5px 5px;
    width: 130px;
    margin-left: 20px;
}

.option {
    display: block;
    width: 130px;
    height: 30px;
    color: black;
}