.topNavbar{
	position: relative;
	z-index: 5;
	width: 100%;
	height: 60px;
	margin-top: 0px;
	background-color: #525153;
}

.topNavButtonContainer {
	height: 44px;
	margin: 8px;
	margin-left: 12px;
}

